.container{
    display: grid;
    justify-items: center;
    /* grid-template-rows: auto auto auto; */
    border: 1px solid black;
}
.container > div {
    background-color: bisque;
    padding: 5px;
    border: 1px solid black;
}