body{
    margin: 40px;
}
.box{
    background-color: rgb(111, 110, 110);
    color: #e0d9d9;
    padding: 20px;
    font-size: 20px;
}
.box:nth-child(even){
   background-color: #272626;
   color: #c62929;
}
.container{
    display: grid;
    grid-template-columns: repeat(6 ,150px);
    grid-gap: 10px;
}

.box1{
    order: 6;
}
.box2{
    order: 5;
}

.box8{
    order: 2;
}